/* Heading and paragraph styles */
.container.section-title h2 {
    font-weight: bold;
    font-size: 2rem; /* Adjust size as needed */
  }
  
  .container.section-title p {
    font-size: 1.2rem; /* Slightly larger than heading */
    color: #FFAF00; /* Specific color for paragraph */
    margin-top: 5px; /* Adjust spacing as needed */
  }
  
  /* Form styles */
  .book-a-table .form-control {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    background: rgba(255, 255, 255, 0.9);
    transition: background 0.3s, border-color 0.3s;
  }
  
  .book-a-table .form-control:focus {
    border-color: var(--accent-color);
    background: rgba(255, 255, 255, 1);
  }
  
  .book-a-table .form-control::placeholder {
    color: rgba(0, 0, 0, 0.5);
  }
  
  /* Select option styles */
  .book-a-table .form-group select {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    background: rgba(255, 255, 255, 0.9);
    font-size: 1rem;
    transition: background 0.3s, border-color 0.3s;
  }
  
  .book-a-table .form-group select:focus {
    border-color: var(--accent-color);
    background: rgba(255, 255, 255, 1);
  }
  .book-a-table .btn-primary:hover{
    color: #7C00FE;
    background-color: #FFAF00;
  }
  .backbutton{
    color: #C8ACD6;
  }
  
  /* Dark theme adjustments */
  :host-context(.dark-theme) .container.section-title p {
    color: #FFAF00; /* Maintain the same color */
  }
  
  :host-context(.dark-theme) .book-a-table .form-control {
    background: rgba(0, 0, 0, 0.7);
    border-color: rgba(255, 255, 255, 0.3);
  }
  
  :host-context(.dark-theme) .book-a-table .form-control:focus {
    background: rgba(0, 0, 0, 0.9);
  }
  
  :host-context(.dark-theme) .book-a-table .form-control::placeholder {
    color: rgba(255, 255, 255, 0.5);
  }
  
  :host-context(.dark-theme) .book-a-table .form-group select {
    background: rgba(0, 0, 0, 0.7);
    border-color: rgba(255, 255, 255, 0.3);
  }
  
  /* Hover styles for theme switching */
  :host-context(.dark-theme) .book-a-table  {
    background: darken(var(--accent-color), 10%);
  }
  
  :host-context(.light-theme) .book-a-table {
    background: darken(var(--accent-color), 10%);
  }
  