<footer [class.footer-hidden]="footerHidden" class="footer mt-auto py-3">
  <div class="container text-center">
    <div class="footer-content">
      <div class="footer-links">
        <a href="#about">About Us</a> |
        <a href="#contact">Contact</a> |
        <a href="#privacy">Privacy Policy</a> |
        <a href="#terms">Terms of Service</a>
      </div>
      <div class="footer-social">
        <a href="https://www.facebook.com/" class="fa fa-facebook social-icon" aria-label="Facebook"></a>
        <a href="https://www.instagram.com/" class="fa fa-instagram social-icon" aria-label="Instagram"></a>
        <a href="https://x.com/i/flow/login?lang=en" class="fa fa-twitter social-icon" aria-label="Twitter"></a>
      </div>
      <div class="footer-copy">
        <span>&copy; 2024 Glacial Bliss. All Rights Reserved.</span>
      </div>
    </div>
  </div>
</footer>