/* Theme Variables */
[data-theme='dark'] {
  --bg-color: #201E43;
  --text-color: #fff;
  --link-color: #f39c12;
  --navbar-bg: #201E43;
  --button-bg: #555;
  --button-border: #f39c12;
  --button-text: #fff;
}

[data-theme='light'] {
  --bg-color: #fff;
  --text-color: #000;
  --link-color: #007bff;
  --navbar-bg: #f8f9fa;
  --button-bg: #fff;
  --button-border: #007bff;
  --button-text: #007bff;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.5s ease, color 0.5s ease;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
  color: var(--link-color);
  transition: color 0.3s ease, text-shadow 0.3s ease;
}

a:hover {
  color: var(--link-color);
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.navbar {
  background-color: var(--navbar-bg) !important;
  transition: background-color 0.5s ease, transform 0.5s ease;
}

.navbar .navbar-brand {
  font-size: 3rem;
  font-weight: bold;
  color: var(--text-color);
  background: linear-gradient(135deg, #ff9a9e, #fad0c4);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  font-family: 'Dancing Script', cursive;
  letter-spacing: 2px;
  transition: transform 0.5s ease, color 0.5s ease;
}

.navbar .navbar-brand:hover {
  color: var(--link-color);
  transform: scale(1.1);
}

.navbar .navbar-nav .nav-link {
  color: var(--link-color);
  transition: color 0.3s ease, transform 0.3s ease, letter-spacing 0.3s ease;
  font-size: 1.2rem;
  position: relative; /* Necessary for the pseudo-element */
}

.navbar .navbar-nav .nav-link::after {
  content: "";
  display: block;
  height: 2px;
  background-color: var(--link-color);
  position: absolute;
  left: 0;
  bottom: -5px; /* Adjust according to desired spacing */
  width: 100%;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.3s ease;
}

.navbar .navbar-nav .nav-link:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.navbar .navbar-nav .nav-link:hover {
  color: var(--link-color);
}

.navbar-toggler {
  border: 1px solid var(--link-color);
  transition: transform 0.3s ease, color 0.3s ease;
}

.btn-toggle-theme {
  background-color: var(--button-bg);
  color: var(--button-text);
  border: 2px solid var(--button-border);
  font-size: 1.25rem;
  padding: 0.5rem 1rem;
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease, transform 0.3s ease;
}

.btn-toggle-theme:hover {
  background-color: var(--button-border);
  color: var(--button-bg);
  border-color: var(--button-border);
  transform: scale(1.1);
}

.navbar-nav .nav-item {
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.navbar-nav .nav-item:hover {
  transform: translateX(10px);
  opacity: 1;
}

.navbar-nav .nav-item.active {
  transform: scale(1.05);
  opacity: 1;
}

.logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.logo-text {
  font-size: 2rem; 
  font-weight: bolder;
  font-family: "Aref Ruqaa Ink", serif;
  color: #007bff; 
  background: #007bff; 
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: 1px;
  margin-left: 15px;
  transition: transform 0.3s ease, color 0.3s ease;
}

.logo-container img {
  max-height: 50px;
  margin-left: 10px;
  color: #6EACDA; 
}

.logo-text:hover {
  transform: scale(1.1);
  color: var(--link-color);
}
