/* Light theme */
:root {
    --bg-color: #ffffff;
    --text-color: #000000;
    --card-bg-color: #f8f9fa;
    --btn-primary-bg: #007bff;
    --btn-primary-color: #ffffff;
  }
  
  /* Dark theme */
  body.dark-mode {
    --bg-color: #343a40;
    --text-color: #ffffff;
    --card-bg-color: #495057;
    --btn-primary-bg: #17a2b8;
    --btn-primary-color: #ffffff;
  }
  
  body {
    background-color: var(--bg-color);
    color: var(--text-color);
  }
  
  .card {
    background-color: var(--card-bg-color);
    border: none;
    border-radius: 0.5rem;
  }
  
  .btn-primary {
    background-color: #921A40;
    color: #FEFAE0;
    border: none;
    border-radius: 0.5rem;
    padding: 0.75rem;
  }
  
  .social-icon {
    margin: 0 10px;
    color: var(--btn-primary-bg);
  }
  
  .social-icon i {
    font-size: 24px;
  }
  
  /* Responsive design */
  @media (max-width: 576px) {
    .card {
      margin: 10px;
    }
    .btn-primary, .btn-secondary {
      width: 100%;
    }
    .social-icon i {
      font-size: 20px;
    }
  }
  
  .form-group {
    margin-bottom: 1.5rem;
  }
  
  .card-title {
    font-weight: 600;
    color: #F0A8D0;
  }
  
  .btn-secondary {
    border: none;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
  }
  