<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card shadow-lg p-3 mb-5 bg-white rounded">
        <div class="card-body">
          <h3 class="card-title text-center mb-4">Register</h3>

          <!-- Error Message -->
          <div *ngIf="errorMessage" class="alert alert-danger" role="alert">
            {{ errorMessage }}
          </div>

          <!-- Success Message -->
          <div *ngIf="successMessage" class="alert alert-success" role="alert">
            {{ successMessage }}
          </div>

          <form (ngSubmit)="onSubmit()">
            <div class="form-group mb-3">
              <input type="text" id="username" [(ngModel)]="username" name="username" class="form-control"
                placeholder="Username" required>
            </div>
            <div class="form-group mb-3">
              <input type="password" id="password" [(ngModel)]="password" name="password" class="form-control"
                placeholder="Password" required>
            </div>
            <div class="form-group mb-3">
              <input type="email" id="email" [(ngModel)]="email" name="email" class="form-control" placeholder="Email"
                required>
            </div>
            <div class="text-center mb-3">
              <button type="submit" class="btn btn-primary w-100">Register</button>
            </div>
            <div class="text-center mt-3">
              <p>Register via Social connections</p>
              <a href="#" class="social-icon mx-2" *ngFor="let icon of socialIcons">
                <i [class]="icon"></i>
              </a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>